#!/usr/bin/env bash

export HELLO_WORLD_PORT={{ hello_world_port }}
export HELLO_WORLD_HOST={{ ansible_eth1.ipv4.address }}

if pgrep -f "{{ hello_world_directory }}/app.py" >/dev/null 2>&1;
then
  echo "already running"
else
  nohup python {{ hello_world_directory }}/app.py &
  sleep 2
  if pgrep -f "{{ hello_world_directory }}/app.py" >/dev/null 2>&1;
  then
    echo "service started"
  else
    echo "failed to start"
    exit 1
  fi
fi