server {
  listen 80 default_server;
  listen [::]:80 default_server ipv6only=on;
  listen 443 ssl;

  root /usr/share/nginx/html;
  index index.html index.htm;

  server_name localhost;
  ssl_certificate /etc/nginx/ssl/nginx.crt;
  ssl_certificate_key /etc/nginx/ssl/nginx.key;

  rewrite_log on;
  error_log /var/log/nginx/error.log notice;

  location / {
    try_files $uri $uri/ =404;
  }

  location /hello {
    rewrite ^/hello/?(.*)$ /$1 break;
    proxy_pass http://app-server;
  }

  {% for host in groups['app-servers'] %}
  location /{{ hostvars[host].inventory_hostname }}/hello {
    rewrite ^/[^/]*/hello/?(.*)$ /$1 break;
    proxy_pass http://{{ hostvars[host].ansible_eth1.ipv4.address }}:{{ hello_world_port }};
  }
  {% endfor %}


}